
:root {
  --fundo: #00040C;
  --primaria: #181c27;
  --primaria-hover: #1a1a1a;
  --cinza: #555;
  --secundaria: #191919;
  --terciaria: #202020;
  --navbar: #000000;
  --navbar-hover: #080808;
  --titulo: #ffffff;
  --texto: #f3f3f3;
  --texto-preto: #000000;
  --periodo: #b3b3b3;
  --principal: #1586ff;
  --principal-claro: #4baeff;
  --verde: #58cf68;
  --periodo: #999B9E;
}

.gamedev-theme {
  --principal: #ff3c00;
  --principal-claro: #FF6600;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--secundaria);
}

::-webkit-scrollbar-thumb {
  background: var(--principal-claro);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--titulo) !important;
}

html, body {
  background-color: var(--secundaria);
}