
:root {
  --principal: #181c27;
  --principal-hover: #1a1a1a;
  --secundaria: #1a1a1a;
  --terciaria: #202020;
  --navbar: #000000;
  --navbar-hover: #080808;
  --titulo: #ffffff;
  --texto: #f3f3f3;
  --texto-preto: #000000;
  --periodo: #b3b3b3;
  --azul: #1586ff;
  --azul-claro: #4baeff;
  --verde: #58cf68;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--secundaria);
}

::-webkit-scrollbar-thumb {
  background: var(--azul-claro);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--titulo) !important;
}

html, body {
  background-color: var(--secundaria);
}