
:root {
  --principal: #181c27;
  --principal-hover: #1d212e;
  --secundaria: #151820;
  --navbar: #000000;
  --navbar-hover: #080808;
  --texto: #ffffff;
  --texto-preto: #000000;
  --azul: #1586ff;
  --azul-claro: #4baeff;
}