.cardHabilidade{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.iconeHabilidade {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoHabilidade {
  color: var(--texto);
  font-size: 18px;
  font-weight: 400;
  margin-left: 10px;
}